.tabs {
	float: left;
	width: 30.33333%;
	min-height: 330px;
	padding-bottom: 15px;
	background: #16599d url(../images/gradient-blue-black.jpg) left bottom repeat-x;
}

.tabs > ul {
	padding: 15px 0px 15px 15px;
}

.tabs > ul > li {
	color: #fff;
	font-size: 13px;
	cursor: pointer;
	font-weight: bold;
	position: relative;
	padding: 15px 0px 15px 40px;
	border: 1px solid transparent;
	border-bottom: 1px dotted #3a444b;
}
.tabs > ul > li a {
	color: #fff;
}
.tabs > ul > li:hover a,
.tabs > ul > li.tabActiveHeader a {
	color: #444;
}
.tabs > ul > li span.icon {
	float: left;	
	width: 20px;
	height: 20px;
	top: 50%;
	left: 10px;	
	margin-top: -10px;
	position: absolute;
	background-repeat: no-repeat;	
}

.tabs > ul > li:hover span.icon,
.tabs > ul > li.tabActiveHeader span.icon {
	background-position: 0px -20px;
}

.tabs > ul > li:hover {
	color: #444;
	border: 1px solid #000;
	border-right: none;
	background: #fff url(../images/tabs-active-tab.jpg) repeat-y;
}

.tabs > ul > li.tabActiveHeader {
	color: #444;
	border: 1px solid #000;
	border-right: none;
	background: #fff url(../images/tabs-active-tab.jpg) repeat-y;
}

.tabs > ul > li:hover span.icon { background-position: 0px -20px; }
/*.tabs > ul > li#tabHeader_1 span.icon { background-image: url(../images/hot-star.png); }
.tabs > ul > li#tabHeader_2 span.icon { background-image: url(../images/hot-movie.png); }
.tabs > ul > li#tabHeader_3 span.icon { background-image: url(../images/hot-show.png); }
.tabs > ul > li#tabHeader_4 span.icon { background-image: url(../images/hot-apps.png); }*/

.tabscontent {
	float: left;
	padding: 30px;
	width: 69.66667%;
}

.tabscontent .tabpage h2 {
	margin-bottom: 30px;
}
