/* Flexnav Base Styles */
.nav-menu {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  transition: none;
  -webkit-transform-style: preserve-3d;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 0; }
  .nav-menu.opacity {
    opacity: 0; }
  .nav-menu.show {
    max-height: 2000px;
    opacity: 1;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out; }
  .nav-menu.one-page {
    position: fixed;
    top: 50px;
    right: 5%;
    max-width: 200px; }
  .nav-menu li {
    font-size: 100%;
    position: relative;
    overflow: hidden; }
  .nav-menu.show li {
    background: #004183;
  }
  .nav-menu li:hover {
    background: #0a5097;
  }
  .nav-menu li:hover a {
    color: #fff;
  }  
  .nav-menu li a {
    position: relative;
    display: block;
    padding: 0px 15px;
    min-height: 45px;
    line-height: 45px;
    z-index: 2;
    overflow: hidden;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
  .nav-menu li ul {
    width: 100%; }
  .nav-menu li ul.show li {
    background: #0a5097;
  }
  .nav-menu li ul li:hover {
    background: #1761AA;
  }
  .nav-menu li ul li ul.show li {
    background: #2a73be;
  }
  .nav-menu li ul li ul li:hover {
    background: #2a73be;
  }
    .nav-menu li ul li {
      font-size: 100%;
      position: relative;
      overflow: hidden;
      background: #b2b2af; }
  .nav-menu li ul.show li {
    overflow: visible; }
  .nav-menu li ul li a {
    display: block;     }  
  .nav-menu ul li ul li ul li a {
    background: #cbcbc9; }
  .nav-menu .touch-button {
    position: absolute;
    z-index: 999;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    display: inline-block;
    background: #143151;
    background: rgba(0, 0, 0, 0.075);
    text-align: center; }
    .nav-menu .touch-button:hover {
      cursor: pointer; }
    .nav-menu .touch-button .navicon {
      position: relative;
      top: 15px;
      font-size: 14px;
      color: #fff; }

.menu-button {
  position: relative;
  display: block;
  width: 100%;
  height: 45px;
  padding: 0px 10px;
  background: #004183;
  color: #fff;
  cursor: pointer;
  text-align: left;
  border: none;
  font-size: 18px;
  margin-bottom: 5px; }
  .menu-button.one-page {
    position: fixed;
    top: 0;
    right: 5%;
    padding-right: 45px; }
  .menu-button .touch-button {
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 10px 15px;
    display: inline-block;
    text-align: center;
    background: #143151; }
    .menu-button .touch-button .navicon {
      font-size: 21px;
      position: relative;
      color: #fff; }

@media all and (min-width: 768px) {

  /* color normal */
  .nav-menu li a{
    color: #fff;
    border-bottom: none;
  }
  .nav-menu > li > a {
    padding: 0px 19px;
  }
  .nav-menu .touch-button {
    display: none;
  }
    body.one-page {
    padding-top: 70px; }

  .nav-menu {
    overflow: visible; }
    .nav-menu.opacity {
      opacity: 1; }
    .nav-menu.one-page {
      top: 0;
      right: auto;
      max-width: 1080px; }
    .nav-menu li {
      position: relative;
      list-style: none;
      float: left;
      display: block;
      overflow: visible; }
      .nav-menu li.current_page_item {
        background: #fff;  
      }
      .nav-menu li.current_page_item a {
        color: #000d21;
      }      
      .nav-menu li:hover {
      background: #fff;
    }
    .nav-menu li:hover a {
      color: #000;
    }
    .nav-menu li ul li a {
      color: #444!important;
    }

  .nav-menu li ul.show li {
    background: #fff;
  }
  .nav-menu li ul li:hover {
    background: #eee;
  }
    .nav-menu > li:last-child ul ul {
      left: auto;
      right: 100%;
    }
    .nav-menu > li.item-with-ul {
    padding-right: 0px;}
    .nav-menu li ul {
      width: 200px;
    }
    .nav-menu li ul li a {      
      min-height: 30px;
      padding: 8px 15px;
      line-height: normal;
      font-weight: normal;
    }
    .nav-menu li > ul {
      position: absolute;
      top: auto;
      left: 0; }
      .nav-menu li > ul li {
        width: 100%; }
    .nav-menu li ul li > ul {
      margin-left: 100%;
      top: 0; }
    .nav-menu li ul li a {
      border-bottom: none;
      }
    .nav-menu li ul.open {
      opacity: 1;
      visibility: visible;
      z-index: 1; }
      .nav-menu li ul.open li {
        overflow: visible;
        max-height: 100px; }
      .nav-menu li ul.open ul.open {
        margin-left: 100%;
        top: 0; }

  .menu-button {
    display: none; } }
.oldie body.one-page {
  padding-top: 70px; }
.oldie .nav-menu {
  overflow: visible; }
  .oldie .nav-menu.one-page {
    top: 0;
    right: auto;
    max-width: 1080px; }
  .oldie .nav-menu li {
    position: relative;
    list-style: none;
    float: left;
    display: block;
    background-color: #a6a6a2;
    width: 20%;
    min-height: 50px;
    overflow: visible; }
  .oldie .nav-menu li:hover > ul {
    display: block;
    width: 100%;
    overflow: visible; }
    .oldie .nav-menu li:hover > ul li {
      width: 100%;
      float: none; }
  .oldie .nav-menu li a {
    border-left: 1px solid #acaca1;
    border-bottom: none;
    overflow: visible; }
  .oldie .nav-menu li > ul {
    background: #acaca1;
    position: absolute;
    top: auto;
    left: 0;
    display: none;
    z-index: 1;
    overflow: visible; }
  .oldie .nav-menu li ul li ul {
    top: 0; }
  .oldie .nav-menu li ul li a {
    border-bottom: none; }
  .oldie .nav-menu li ul.open {
    width: 100%;
    overflow: visible; }
    .oldie .nav-menu li ul.open li {
      width: 100%; }
    .oldie .nav-menu li ul.open ul.open {
      margin-left: 100%;
      top: 0;
      display: block;
      width: 100%;
      overflow: visible; }
  .oldie .nav-menu ul li:hover ul {
    margin-left: 100%;
    top: 0; }
.oldie .menu-button {
  display: none; }
.oldie.ie7 .nav-menu li {
  width: 19.9%; }
